.project {
  display: flex;
  align-items: center;
  width: 80%;
  padding: 50px;
  border-bottom: 1px solid rgb(201, 201, 201);
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.projectContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.project h2 {
  font-size: 60px;
  margin: 0 20px 0 0;
  font-weight: 400;
  font-family: "Feoni", sans-serif;
  color: #151310;
  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
}

.project h2::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #b0bdd0;
  display: block;
  margin-top: 2px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.2s linear;
}

.project:hover h2::after {
  width: 100%;
}

.projectDescription {
  font-family: "Feoni", sans-serif;
  font-size: 16px;
  color: #151310;
  transition: transform 0.3s ease;
}

.project:hover {
  opacity: 0.8;
}

.project:hover .projectDescription {
  transform: translateX(5px);
}

.body {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.modalContainer {
  height: 250px;
  width: 90%;
  max-width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  pointer-events: none;
  overflow: hidden;
  z-index: 3;
  border-radius: 5px;
}

.modalSlider {
  height: 100%;
  width: 100%;
  position: relative;
  transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.modal {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal img {
  height: auto;
  max-width: 100%;
}

.cursor,
.cursorLabel {
  font-family: "Sloppy", sans-serif;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #b0bdd0;
  color: white;
  position: fixed;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 300;
  pointer-events: none;
}

.cursorLabel {
  background-color: transparent;
}

.cursorLabelLink {
  display: block;
  position: absolute;
  z-index: 1000;
}






@media (max-width: 768px) {
  .project {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 50px;
    border-bottom: 1px solid rgb(201, 201, 201);
    cursor: pointer;
    transition: opacity 0.2s ease;
  }
  
  .projectContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  
  .project h2 {
    font-size: 20px;
    margin: 0 20px 0 0;
    font-weight: 100;
    font-family: "Feoni", sans-serif;
    color: #151310;
    position: relative;
    overflow: hidden;
    padding-bottom: 0px;
  }
  .projectDescription {
    font-family: "Feoni", sans-serif;
    font-size: 10px;
    color: #151310;
    transition: transform 0.3s ease;
  }
  .body {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:flex-start;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .cursor,
  .cursorLabel {
    display: none;
  }
  .modalContainer {
    display: none;
  }
}
