.project {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
  border-bottom: 1px solid #0D0F0F;
  cursor: pointer;
  transition: opacity 0.2s ease;
  color:#0D0F0F;
}

.projectContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.project h2 {
  font-size: 50px;
  font-weight: 400;
  font-family: "FeoniMedium", sans-serif;

  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
  transition: filter 0.2s ease; 
}

.project:hover h2::after {
  width: 100%;
}

.projectDescription {
  font-family: "FeoniLight", sans-serif;
  font-size: 16px;
  transition: transform 0.3s ease, filter 0.2s ease;
}

.project:hover {
  opacity: 0.8;
}

.project:hover h2,
.project:hover .projectDescription {
  filter: blur(3px);
}

.body {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalContainer {
  height: 250px;
  width: 90%;
  max-width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  overflow: hidden;
  z-index: 3;
  border-radius: 5px;
}

.modalSlider {
  height: 100%;
  width: 100%;
  position: relative;
  transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.modal {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal img {
  height: auto;
  max-width: 100%;
}

.cursor,
.cursorLabel {
  font-family: "FeoniLight", sans-serif;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #BCF906;
  color:#0D0F0F;

  position: fixed;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 300;
  pointer-events: none;
}

.cursorLabel {
  background-color: transparent;
}

.cursorLabelLink {
  display: block;
  position: absolute;
  z-index: 1000;
}

@media (max-width: 768px) {

  .project:hover {
    opacity: 0.8;
  }
  
  .project:hover h2,
  .project:hover .projectDescription {
    filter: blur(0px);
  }

  .project {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    transition: opacity 0.2s ease;
  }

  .projectContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .project h2 {
    font-size: 20px;
    margin: 0 20px 0 0;
    font-weight: 100;
    font-family: "Feoni", sans-serif;
   
    position: relative;
    overflow: hidden;
    padding-bottom: 0px;
  }
  
  .projectDescription {
    font-family: "Feoni", sans-serif;
    font-size: 10px;

    transition: transform 0.3s ease;
  }

  .body {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .cursor,
  .cursorLabel {
    display: none;
  }

  .modalContainer {
    display: none;
  }
}
