/* style.module.scss */

.wrapper {
  display: flex;
  align-items: flex-start;
}

.fixedContent {
  color: #151310;
  position: sticky;
  top:50%;
  width: 30%; 
  padding-left: 35px;
  font-family: "Sloppy", serif;
  font-size: 65px;
}

.scrollableContent {
  flex: 1; 
  padding: 20px;
}

.paragraph {
  display: flex;
  flex-wrap: wrap;
  font-size: 60px;
  line-height: 1;
  padding-left: 10%;
  font-family: "FeoniMedium", serif;
  color: #151310;
}

.word {
  position: relative;
  margin-right: 20px;
  margin-top: 15px;
}

.shadow {
  position: absolute;
  opacity: 10%;
  color: rgba(0, 0, 0, 0.2); 
}


@media (max-width: 768px) {
  .wrapper {
    display: block; 
    padding: 10px;
    margin: 0;
  }
  
  .fixedContent {
display: none;
  }
  
  .scrollableContent {
    width: 100%; 
    padding: 0;
    margin: 0; 
  }
  
  .paragraph {
    display: flex;
    flex-wrap: wrap;
    font-size: 7.25vw;
    line-height: 1;
    padding-left: 0; 
    padding-right: 0;
    font-family: "FeoniMedium", serif;
    color: #151310;
  }
  
  .word {
    position: relative;
    margin-right: 5px;
    margin-top: 15px;
  }
}
