/* Base styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30vw; 
  padding: 0 10vw; 
  margin-top: 300px;
  margin-bottom: 40%;
}

.body {
  color: #151310;
  font-family: "Mulett", sans-serif;
  font-size: 3vw; 
  width: 100%; 
}

.lineMask {
  overflow: hidden;
  display: flex;
}

.lineMask p {
  margin: 0;
  font-weight: 700;
}

@media (max-width: 768px) {
  .container {
    gap: 70vw;
    margin-top: 150px;
    margin-bottom: 150px;
  }

  .body {
    font-size: 5.8vw;
  }
}
