.main {
  min-height: 100vh; /* Container füllt die ganze Ansicht aus */
  overflow: auto; /* Verhindert weiteres Scrollen */
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.topbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:first baseline;
  top: 40%;
  white-space: nowrap;
}

.links {
  font-size: 20px;
  font-family: "FeoniLight", sans-serif;
  z-index: 99;
  color: #151310;
  margin-left: 20px;
}

.topic {
  color: #151310;
  font-size: 50px;
  text-align: center;
  font-family: "FeoniLight", serif;
  flex-grow: 1;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-top: 300px;
}

.imageWrapper.left {
  justify-content: flex-start;
}

.imageWrapper.right {
  justify-content: flex-end;
}

.imageWrapper.center {
  justify-content: center;
}

.imageWrapper img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .space {
    margin-bottom: 200px;
  }
  .imageWrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    flex-direction: column;
  }

  .imageWrapper img {
    max-width: 100%;
    height: auto;
  }

  .locationText {
    left: 5px;
    font-size: 15px;
  }

  .name {
    right: 5px;
    font-size: 15px;
  }

  .firstname-container {
    padding-top: 20px;
  }

  .firstname {
    font-size: 18vw;
    padding-top: 80px;
  }
}
