.body {
  text-align: center;
  margin-left: 40px;
  display: flex;
  align-items: center;
  position: sticky;
}

.body p {
  font-size: 4vw;
  line-height: 5vw;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: 'FeoniMedium', sans-serif;
  color: #151310;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  .body p {
    font-size: 9vw; /* Schriftgröße für mobile Ansicht */
    line-height: 7vw; /* Optionale Anpassung der Zeilenhöhe */
    margin-left: 0; /* Anpassen des linken Abstands, wenn gewünscht */
  }
}
