.container {
  background-color: #EDE9E6;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  min-height: 100vh;
}
.locationText {
  position: fixed;
  z-index: 99;
  mix-blend-mode: difference;
  top: 20px;
  left: 35px;
  font-size: 20px;
  font-family: "Feoni", sans-serif;
  text-align: left;
}
.locationText h1 {
  opacity: 70%;
}
.name {
  mix-blend-mode: difference;
  position: fixed;
  top: 20px;
  right: 35px;
  font-size: 20px;
  font-family: "Feoni", sans-serif;
  z-index: 99;
  text-align: left;
}

.name h1 {
  opacity: 70%;
}

.firstname {
  color: #151310;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15vw;
  text-align: center;
  width: 100%;
  margin-bottom: 100px;
}

.letter1 {
  font-family: "Mulett", serif;
}
.letter2 {
  font-family: "Sloppy", serif;
}
.letter3 {
  font-family: "Mulett", serif;
}
.letter4 {
  font-family: "Mulett", serif;
}
.letter5 {
  font-family: "Mulett", serif;
}
.letter6 {
  font-family: "Mulett", serif;
}
.letter7 {
  font-family: "Mulett", serif;
}
.letter8 {
  font-family: "Mulett", serif;
}
.letter9 {
  font-family: "Mulett", serif;
}
.letter10 {
  font-family: "Mulett", serif;
}

.videoWrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  margin-top: 400px;
}

.video {
  width: 100%;
  height: auto;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-top: 300px;
}

.imageWrapper.left {
  justify-content: flex-start;
}

.imageWrapper.right {
  justify-content: flex-end;
}

.imageWrapper.center {
  justify-content: center;
}

.imageWrapper img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

@media (max-width: 768px) {

  .locationText {
    left: 5px;
    font-size: 15px;
  }

  .name {
    right: 5px;
    font-size: 15px;
  }

  .space {
    margin-bottom: 200px;
  }

  .videoWrapper {
    margin-top: 10px;
  }

  .imageWrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .imageWrapper img {
    max-width: 70%;
    height: auto;
  }



  .firstname-container {
    padding-top: 20px;
    text-align: center;
  }

  .firstname {
    font-size: 15vw;
    padding-top: 80px;
    margin: 0;
  }
}
