.contact {
  color: white;

  flex-direction: column;

  z-index: 10;

  .body {
    padding-top: 200px;
    width: 100%;
    max-width: 500px;
    background-color: #3c05fc;
    padding: 20px;
    border-radius: 5px;

    .title {
      border-bottom: 1px solid #f0eeff;
      padding-bottom: 100px;
      position: relative;

      .firstword {
        color: #D4E9FB;
        font-size: 4vw;
        margin-bottom: -20px;
        font-family: "FeoniLight", sans-serif;
      }
      .lastword {
        color: #D4E9FB;
        font-size: 4vw;
        margin-bottom: 100px;
        font-family: "FeoniLight", sans-serif;
      }
    }

    .buttonContainer {
      position: absolute;
      left: calc(100% - 350px);
      top: calc(100% - 60px);
    }

    .text {
      font-family: "FeoniLight", sans-serif;
      color: #D4E9FB;
    }

    .buttonContainer {
      position: absolute;
      left: calc(100% - 350px);
      top: calc(100% - 75px);
    }

    .text {
      font-family: "Feoni", sans-serif;
      color: #151310;
    }

    .button {
      margin-bottom: 40px;
      width: 150px;
      height: 150px;
      cursor: pointer;
      overflow: hidden;
      font-family: "Feoni", sans-serif;
      background-color: #3c05fc;
      border: 1px solid #D4E9FB;
      color: #D4E9FB;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      .slider {
        position: relative;
        width: 100%;
        height: 100%;

        .el {
          width: 100%;
          height: 100%;
          color: #D4E9FB;
          font-family: "Feoni", sans-serif;
          font-size: 1vw;
          p {
            margin: 0px;
          }
          &:hover {
            .perspectiveText {
              transform: rotateX(90deg);
              p {
                &:nth-of-type(1) {
                  transform: translateY(-100%);
                  opacity: 0;
                }
                &:nth-of-type(2) {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }

    svg {
      position: absolute;
      top: 60%;
      left: 80%;
    }
  }

  .perspectiveText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 0.75s cubic-bezier(0.76, 0, 0.24, 1);
    p {
      transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);
      pointer-events: none;
      text-transform: uppercase;
      &:nth-of-type(2) {
        position: absolute;
        transform-origin: bottom center;
        transform: rotateX(-90deg) translateY(9px);
        opacity: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .contact {
    padding-top: 100px;

    .body {
      height: 400px;
      width: 300px;

      .title {
        padding-bottom: 20px;
        position: relative;

        .firstword {
          font-size: 50px;
        }

        .lastword {
          margin-top: 20px;

          font-size: 50px;
        }
      }

      .buttonContainer {
        position: absolute;
        left: 50%;
        top: 85%;
      }

      .button {
        width: 80px;
        height: 80px;

        .slider {
          .el {
            font-size: 3vw;
          }
        }
      }

      svg {
        top: 60%;
        right: 20px;
        left: auto;
      }
    }
  }
}
