.header{
  position: fixed;
  right: 35px;
  top: 35px;
  z-index: 99;

  .menu{
      position: relative;
      width: 480px;
      height: 650px;
      background-color: #fcdf3b;
      border-radius: 5px;
  }
}

@media (max-width: 768px) {

    .header{
      right: 19px;
  top: 19px;
    }
}
