.body {
    position: relative;
    background-color: #b0bdd0;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .container{
    position: absolute;
    right: 20px;
    padding-left: 80%;
  }

  .gifContainer {
   
    top:10px;
    display: flex;
    margin: 20px 0; 
  }
  .Text{
    color: #151310;
    font-family: "FeoniMedium", serif;
 
 
    top:30%;
 
    display: flex;
    font-size: 20px;
  }
  
  .gif {
    max-width: 100%;
    height: auto;
  }
  .Im {
    position: absolute;
    bottom: 20.6%;
    left: 35px;
    display: flex;
    align-items: center;
    font-family: "Feoni", sans-serif;
    font-size: 20px;
    color: #151310;
  }
  .end {
    position: absolute;
    bottom: 20.6%;
    left: 820px;
    display: flex;
    align-items: center;
    font-family: "Feoni", sans-serif;
    font-size: 20px;
    color: #151310;
  }
  
  .nameContainer {
    display: flex;
    justify-content: center;
    align-items: last baseline;
    gap: 10px;
    position: absolute;
    bottom: 20%;
    left: 26%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    color: #151310;
    z-index: 99;
  }
  
  .firstname,
  .lastname {
    font-size: 5vw;
    line-height: 1;
  }
  
  .svgContainer {
    display: flex;
    align-items: last baseline;
    justify-content: center;
  }
  .svg {
    width: 30px;
    height: auto;
  }
  
  .letter1 {
    font-family: "FeoniMedium", sans-serif;
  }
  .letter2 {
    font-family: "FeoniMedium", sans-serif;
  }
  .letter3 {
    font-family: "FeoniMedium", sans-serif;
  }
  .letter4 {
    font-family: "FeoniMedium", sans-serif;
  }
  .letter5 {
    font-family: "FeoniMedium", sans-serif;
  }
  .letter6 {
    font-family: "FeoniMedium", sans-serif;
  }
  .letter7 {
    font-family: "FeoniMedium", sans-serif;
  }
  .info {
    font-family: "Feoni", sans-serif;
    display: flex;
    gap: 20px;
    left:30px;
    color: #151310;
    width: calc(100% - 40px);
    max-width: 1800px;
    position: absolute;
    bottom:150px;
   

    div {
        display: flex;
        gap: 20px;
        align-items: center;

        .nonClickableText {
          font-family: "Brush", sans-serif;
            cursor: default;
            font-weight: 300;
        }

        p,
        h3 {
            margin: 0px;
            padding: 2.5px;
            cursor: pointer;
        }

        span {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        h3 {
            color: #151310;
            cursor: default;
            font-weight: 300;
            font-size: 1em;
        }
    }
}

  
  @media (max-width: 768px) {
    .Im {
      display: none;
    }
    .end {
      display: none;
    }
    .gifContainer {
      position: relative;
      top:10px;
      display: flex;
      justify-content: center;
  margin-top: 200px;
    }
    .Text{
      color: #151310;
      font-family: "Brush", serif;
      position: relative;
      display: flex;
      justify-content: center;
      font-size: 20px;
    }
    
    .gif {
      max-width: 100%;
      height: auto;
    }
    .nameContainer {
      display: flex;
      justify-content: center;
      align-items:last baseline;
      gap: 5px;
      position: absolute;
      bottom:80px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      text-align: center;
      color: #151310;
    }
    .firstname,
  .lastname {
    font-size: 12vw;
    line-height: 1;
  }
  
  .svg {
    width: 20px;
    height: 20px;
  }
  .info {
    left: 5%;
    bottom: 30px;
    gap: 10px;
   

    div {
        gap: 10px;
        p,
        h3 {
            font-size: 14px;
        }
    }
  }
}
  