.body {
  background-color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}



.containerItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  bottom: 120px;
  right: 0;
  padding: 35px;
  color: #f0eeff;
}


.gifOverlay img {
  width: 100%;
  height: auto;
  padding-bottom: 10px;
}

.lineItem {
  position: relative;
  font-size: 30px;
  padding: 0px 0;
  width: 100%;
  color: #3C05FC;
}

.lineItem::before,
.lineItem::after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: #3C05FC;
  width: 100%;
  left: 0;
}

.lineItem:first-child::before {
  top: 0;
}

.lineItem:not(:first-child)::before {
  display: none;
}

.lineItem:not(:last-child)::after {
  bottom: 0;
}

.lineItem:last-child::after {
  display: none;
}

.Text {
  color: #3C05FC;
  font-size: 15px;
  width: 300px;
  font-family: "FeoniLight", sans-serif;
}

.Title {
  font-family: "FeoniMedium", sans-serif;
}

.cls3{
  fill: #3C05FC;
}


.infofooter {
  font-family: "FeoniLight", sans-serif;
  display: flex;
  gap: 20px;
  left: 30px;
  color: #3C05FC;
  width: calc(100% - 40px);
  max-width: 1800px;
  position: absolute;
  bottom: 145px;

  div {
    display: flex;
    gap: 20px;
    align-items: center;

    .nonClickableText {
      font-family: "FeoniLight", sans-serif;
      cursor: default;
      font-weight: 300;
    }

    p,
    h3 {
      margin: 0px;
      padding: 2.5px;
      cursor: pointer;
    }

    span {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    h3 {
      color: #3C05FC;
      cursor: default;
      font-weight: 300;
    }
  }
}
@media (max-width: 768px) {


  .containerItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 120px;
    left: 13px;
    right: 13px;
    padding: 0px;
    color: #f0eeff;
  }
  
  
  .gifOverlay img {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
  }
  

  
  
  
  .Text {
    color: #3C05FC;
    font-size: 15px;
    width: 100%;
    font-family: "FeoniLight", sans-serif;
  }

  

  .infofooter {
    bottom: 30px;
    left: 13px;
  }

}
