.container {
    background-color: #f0f0f0; 
    margin: 0; 
    padding: 20px; 
    display: flex;
    flex-direction: column; 
    gap: 30px; 
  }
  
  .title {
    margin-top: 100px;
    text-align: center; 
    font-size: 2rem; 
    font-family: "Feoni", sans-serif;
    color: #151310;
  }
  
  .text {
    font-family: "Feoni", sans-serif;
    color: #151310;
  }
  
  .videoGrid {
    display: flex;
    flex-direction: column;
    gap: 30px; 
  }
  
  .videoWrapper {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
  }
  
  .videoWrapper.left {
    align-items: flex-start; 
  }
  
  .videoWrapper.right {
    align-items: flex-end; 
  }
  
  .videoWrapper.center {
    align-items: center; 
  }
  
  .videoTitle {
    text-align: center; 
    font-size: 1.5rem; 
    font-family: "Feoni", sans-serif;
    color: #151310;
    margin-bottom: 10px; 
  }
  
  .video {
    width: 80%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .video {
      width: 100%; 
    }
  }
  