.container {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  min-height: 100vh;
}

.locationText {
  position: fixed;
  z-index: 99;
  mix-blend-mode: difference;
  top: 20px;
  left: 35px;
  font-size: 20px;
  font-family: "Feoni", sans-serif;
  text-align: left;
}
.locationText h1 {
  opacity: 70%;
}
.name {
  mix-blend-mode: difference;
  position: fixed;
  top: 20px;
  right: 35px;
  font-size: 20px;
  font-family: "Feoni", sans-serif;
  z-index: 99;
  text-align: left;
}

.name h1 {
  opacity: 70%;
}




.firstname {
  color: #151310;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10vw;
    text-align: center;
    width: 100%;
    margin-bottom: 100px;
    margin-top:  100px;
  }

  .letter1 {
    font-family: "FeoniLight", serif;
  }
  .letter2 {
    font-family: "FeoniLight", serif;
  }
  .letter3 {
    font-family: "FeoniLight", serif;
  }
  .letter4 {
    font-family: "FeoniLight", serif;
  }
  .letter5 {
    font-family: "FeoniLight", serif;
  }
  .letter6 {
    font-family: "FeoniLight", serif;
  }
  .letter7 {
    font-family: "FeoniLight", serif;
  }
  .letter8 {
    font-family: "FeoniLight", serif;
  }
  .letter9 {
    font-family: "FeoniLight", serif;
  }
  .letter10 {
    font-family: "FeoniLight", serif;
  }
  .letter11 {
    font-family: "FeoniLight", serif;
  }
  .letter12 {
    font-family: "FeoniLight", serif;
  }
  .letter13 {
    font-family: "FeoniLight", serif;
  }
  .letter14 {
    font-family: "FeoniLight", serif;
  }
  .letter15 {
    font-family: "FeoniLight", serif;
  }
  .letter16 {
    font-family: "FeoniLight", serif;
  }
  .letter17 {
    font-family: "FeoniLight", serif;
  }
  .letter18 {
    font-family: "FeoniLight", serif;
  }
  
  
  .videoGrid {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .videoWrapper {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
    padding-top: 500px;
  }
  
  .videoWrapper.left {
    align-items: flex-start; 
  }
  
  .videoWrapper.right {
    align-items: flex-end; 
  }
  
  .videoWrapper.center {
    align-items: center; 
  }
  
  .video {
    width: 60%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .video {
      width: 100%; 
    }
    .videoGrid {
      padding-top: 350px;
    }
    .videoWrapper {
     
      padding-top: 0px;
    }
    .locationText {
      left: 5px;
      font-size: 15px;
    }
  
    .name {
      right: 5px;
      font-size: 15px;
    }

  
    .firstname {
      font-size: 15vw;
      padding-bottom: 0px;
    }
  }
  
