.body {
  background-color: #3C05FC;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.locationText {
  color: white;
  position: fixed;
  z-index: 99;
  mix-blend-mode: difference;
  top: 20px;
  left: 35px;
  font-size: 20px;
  font-family: "Feoni", sans-serif;
  text-align: left;
}
.locationText h1 {
  opacity: 70%;
}
.name {
  color: white;
  mix-blend-mode: difference;
  position: fixed;
  top: 20px;
  right: 35px;
  font-size: 20px;
  font-family: "Feoni", sans-serif;
  z-index: 99;
  text-align: left;
}

.name h1 {
  opacity: 70%;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: left;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
}
.title {
  margin-top: -14%;
}
.info span {
  color: #D4E9FB;
  font-size: 8vw;
}
.letter1 {
  font-family: "Monsieur", serif;
}
.letter2 {
  font-family: "FeoniLight", serif;
}
.letter3 {
  font-family: "FeoniLight", serif;
}
.letter4 {
  font-family: "FeoniLight", serif;
}
.letter5 {
  font-family: "FeoniLight", serif;
}
.letter6 {
  font-family: "FeoniLight", serif;
}
.letter7 {
  font-family: "FeoniLight", serif;
}
.heartContainer {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart {
  width: 30px;
  height: auto;
}

.container {
  position: relative;
  top: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .bezierkurve {
    text-align: center;

    .line {
      border: 0;
      border-top: 1px solid #D4E9FB;
      margin: 10px 50px;
      z-index: 99;
    }
  }
}
.birth {
  text-align: center;
  font-family: "FeoniLight", sans-serif;
  font-size: 20px;
  color: #f0eeff;
}
.year {
  text-align: center;
  font-family: "FeoniLight", sans-serif;
  font-size: 20px;
  color: #f0eeff;
}

.containerItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 35px;
  color: #D4E9FB;
}

.lineItem {
  position: relative;
  font-size: 30px;
  padding: 0px 0;
  width: 100%;
}

.lineItem::before,
.lineItem::after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: #D4E9FB;
  width: 100%;
  left: 0;
}

.lineItem:first-child::before {
  top: 0;
}

.lineItem:not(:first-child)::before {
  display: none;
}

.lineItem:not(:last-child)::after {
  bottom: 0;
}

.lineItem:last-child::after {
  display: none;
}

.Text {
  font-size: 15px;
  width: 300px;
  font-family: "FeoniLight", sans-serif;
}

.Title {
  font-family: "FeoniMedium", sans-serif;
}

.cls3{
  fill: #D4E9FB;
}


.infofooter {
  font-family: "FeoniLight", sans-serif;
  display: flex;
  gap: 20px;
  left: 30px;
  color: #D4E9FB;
  width: calc(100% - 40px);
  max-width: 1800px;
  position: absolute;
  bottom: 15px;

  div {
    display: flex;
    gap: 20px;
    align-items: center;

    .nonClickableText {
      font-family: "FeoniLight", sans-serif;
      cursor: default;
      font-weight: 300;
    }

    p,
    h3 {
      margin: 0px;
      padding: 2.5px;
      cursor: pointer;
    }

    span {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

  }
}
@media (max-width: 768px) {
  .containerItem {
    bottom: 30px;
    padding: 20px;
    width: 100%;
  }

  .lineItem {
    font-size: 1.5rem;
    padding: 5px 0;
  }

  .Text {
    display: none;

  }




  .bezierkurve {
    display: none;
  }

  .container {
    top: 45%;
  }
  .year,
  .birth{
    font-size: 10px;
  }

  .locationText {
    left: 5px;
    font-size: 15px;
  }

  .name {
    right: 5px;
    font-size: 15px;
  }

  .info span {
    font-size: 12vw;
    margin: -10px;
  }


 

  .infofooter {
   display: none;
  }


  .info {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }
  .title {
    margin-top: -10%;
    letter-spacing: 20px;
  }
  .info span {
    color: #D4E9FB;
    font-size: 12vw;
    gap: 2px;
  }

  .heartContainer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .heart {
    width: 20px;
    height: auto;
  }
}
