.body {
  background-color: #f8f9fa;
  color: #0d0f0f;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.info {
  position: relative;
  display: flex;
  align-items: flex-end; /* Beibehalten der vertikalen Ausrichtung */
  top: 50%;
  gap: 10%; /* Fester Abstand zwischen den Elementen */
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap; /* Verhindert Zeilenumbrüche */
  overflow: hidden; /* Verhindert, dass Inhalte außerhalb des Containers sichtbar werden */
}
.time {
  font-size: 1vw;
}
.title {
  font-size: 1.5vw;
  font-family: "Playfair", sans-serif;
}

.names {
  font-size: 1vw;
}
.birth {
  font-size: 1vw;
}
.year {
  position: a;
  right: 10px;
  font-size: 1vw;
}
.bezierkurve {
  position: relative;
  text-align: center;
  top: 50%;
}

.heartContainer {
  top: 55%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart {
  width: 20px;
  height: auto;
}

.containerItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  bottom: 15px;
  right: 0;
  padding-right: 35px;
}

.lineItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-size: 30px;
  padding: 0px 0;
  width: 100%;
}

.lineItem::before,
.lineItem::after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: #0d0f0f;
  width: 100%;
  left: 0;
}

.lineItem:first-child::before {
  top: 0;
}

.lineItem:not(:first-child)::before {
  display: none;
}

.lineItem:not(:last-child)::after {
  bottom: 0;
}

.lineItem:last-child::after {
  display: none;
}

.Text {
  font-size: 15px;
  width: 300px;
  font-family: "FeoniLight", sans-serif;
  color: #f8f9fa;
}

.Title {
  font-family: "FeoniLight", sans-serif;
}

.cls3 {
  fill: #0d0f0f;
}

.infofooter {
  font-family: "FeoniLight", sans-serif;
  display: flex;
  gap: 20px;
  left: 30px;
  width: calc(100% - 40px);
  max-width: 1800px;
  position: absolute;
  bottom: 15px;

  div {
    display: flex;
    gap: 20px;
    align-items: center;

    .nonClickableText {
      font-family: "FeoniLight", sans-serif;
      cursor: default;
      font-weight: 300;
    }

    p,
    h3 {
      margin: 0px;
      padding: 2.5px;
      cursor: pointer;
    }

    span {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
}
@media (max-width: 768px) {
  .containerItem {
    bottom: 30px;
    padding: 20px;
    width: 100%;
  }

  .lineItem {
    font-size: 1.5rem;
    padding: 5px 0;
  }

  .Text {
    display: none;
  }

  .bezierkurve {
    top:40%;
  }

  .container {
    top: 45%;
  }
 

  .locationText {
    left: 5px;
    font-size: 15px;
  }



  .info span {
    font-size: 12vw;
    margin: -10px;
  }

  .infofooter {
    display: none;
  }

  .info {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 5%; 
    top: 40%;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
  }


  .title {
    font-size: 4.5vw; 
  }

  .names {
    font-size: 3.5vw;
  }
  .time, .birth, .year{
    display: none;
  }

  .year {
    position: relative;
    right: auto; /* Entfernt das `right`, um flexibles Layout zu ermöglichen */
    margin-top: 10px; /* Fügt Abstand oben hinzu, falls nötig */
  }
  .info span {
    font-size: 12vw;
    gap: 2px;
  }

  .heartContainer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .heart {
    width: 20px;
    height: auto;
  }
}
